.homePage {
    width: 100%;
    height: calc(100vh - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.homePage .diaryContents {
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: white;
    box-shadow: 8px 10px 15px -5px #777777;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.postContents .diaryTextContainer {
    height: auto;
    word-wrap: break-word;
    max-height: 400px;
    width: 100%;
}

.updateOrDeleteButton {
    text-align: right;
}

.updateOrDeleteButton button {
    background-color: rgb(224, 89, 89);
    color: white;
    padding: 7px 15px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

